
    <mat-card-header>
        <h2 mat-dialog-title>Add Submenu for TransNo: {{ transNo }}</h2>
      </mat-card-header>
      <mat-divider></mat-divider>
  
    <form [formGroup]="submenuForm" (ngSubmit)="saveSubmenus()" class="form-container">
    <mat-card-content>
      <div formArrayName="lines">
        <div *ngFor="let line of lines.controls; let i = index" [formGroupName]="i" class="submenu-item">
          <mat-form-field appearance="standard" class="full-width">
            <mat-label>Submenu Description</mat-label>
            <input matInput formControlName="description" placeholder="Description {{i + 1}}" />
          </mat-form-field>
  
          <mat-form-field appearance="standard" class="full-width">
            <mat-label>Route</mat-label>
            <input matInput formControlName="routes" placeholder="Route {{i + 1}}" />
          </mat-form-field>

          
          <mat-form-field appearance="standard" class="full-width">
            <mat-label>Class</mat-label>
            <input matInput formControlName="class" placeholder="Class {{i + 1}}" />
          </mat-form-field>

  
          <mat-form-field appearance="standard" class="full-width">
            <mat-label>Sort Order</mat-label>
            <input matInput type="number" formControlName="sort" placeholder="Sort Order {{i + 1}}" />
          </mat-form-field>
  
          <mat-form-field appearance="standard" class="full-width">
            <mat-label>Status</mat-label>
            <mat-select formControlName="status">
              <mat-option value="A">Active</mat-option>
              <mat-option value="I">Inactive</mat-option>
            </mat-select>
          </mat-form-field>
  
          <mat-form-field appearance="standard" class="full-width">
            <mat-label>Icon</mat-label>
            <input matInput formControlName="icon" placeholder="Icon {{i + 1}}" />
          </mat-form-field>
  
          <button mat-raised-button color="warn" (click)="removeSubmenu(i)" *ngIf="lines.length > 1">Remove</button>
        </div>
      </div>
    </mat-card-content>
      <div class="button-end">
        <button mat-raised-button color="warn" [mat-dialog-close]="true">Cancel</button>
        <button mat-raised-button color="primary" (click)="addSubmenu()">Add</button>
        <button mat-raised-button color="accent" type="submit">Save</button>
      </div>
    </form>

  