<div class="container" id="contact">
    <div *ngFor="let data of contact" class="text-background">
        <h2 class="text-title">{{ data.contact_title }}</h2>
        <p class="text-description"> {{ data.description }}</p>
        <div class="text-info">
          <!-- <a href="{{ data.fbpage }}" target="_blank" class="contact-link">
            <mat-icon class="contact-icon">facebook</mat-icon> {{ data.fbpage }}
          </a> -->
          <p>
            <mat-icon class="contact-icon">phone</mat-icon> {{ data.phoneNumber }}
          </p>
        </div>
        <a mat-button color="primary" (click)="openInNewWindow(data.mLink)" target="_blank" class="messenger-button">
          <mat-icon>send</mat-icon> Open Messenger
        </a>
    </div>
  </div>

