<section class="default-width content-scrollable">
    <div class="search-div">
      <mat-form-field class="w-40" floatLabel="never" appearance="standard">
        <input matInput [(ngModel)]="searchKey" [placeholder]="placeHolder" (keyup)="applyFilter()" autocomplete="false">
        <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="clearSearch()">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
  
      <button type="button" mat-raised-button color="primary"  *ngFor="let item of menuData"  (click)="onClickNew(item.module)">
        <mat-icon>add_circle</mat-icon> Create {{ item.module }}
      </button>
    
      <!-- <button type="button" mat-raised-button color="basic" (click)="onClickSubModule()">
        <mat-icon>add_circle</mat-icon> Submodule
      </button> -->
    </div>
    <div class="container-fixed">
      <mat-table [dataSource]="dataSource" class="mat-elevation-z4" matSort>
  
        <ng-container matColumnDef="transNo">
          <mat-header-cell *matHeaderCellDef mat-sort-header>TransNo</mat-header-cell>
          <mat-cell *matCellDef="let role">
            <div class="id-cell-container">
              <span class="id-text">{{ role.transNo }}</span>
            </div>
          </mat-cell>
        </ng-container>

        <!-- <ng-container matColumnDef="sort">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
          <mat-cell *matCellDef="let role">{{ role.sort }}</mat-cell>
        </ng-container>
  
   -->
        <ng-container matColumnDef="module">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Module</mat-header-cell>
          <mat-cell *matCellDef="let role">{{ role.module }}</mat-cell>
        </ng-container>
  
        <ng-container matColumnDef="routes">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Route</mat-header-cell>
          <mat-cell *matCellDef="let role">{{ role.routes }}</mat-cell>
        </ng-container>
  
        <ng-container matColumnDef="status">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
          <mat-cell *matCellDef="let role">{{ role.status }}</mat-cell>
        </ng-container>
  
        <ng-container matColumnDef="updated_by">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Updated By</mat-header-cell>
          <mat-cell *matCellDef="let role">{{ role.updated_by }}</mat-cell>
        </ng-container>
  
        <!-- <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
          <mat-cell *matCellDef="let role">
            <button mat-icon-button color="primary" (click)="edit(role)"><mat-icon>edit</mat-icon></button>
            <button mat-icon-button color="warn" (click)="delete(role)"><mat-icon>delete</mat-icon></button>
          </mat-cell>
        </ng-container> -->
  
        <!-- No Data Row -->
        <ng-container matColumnDef="noData">
          <mat-footer-cell *matFooterCellDef colspan="7">No data.</mat-footer-cell>
        </ng-container>
  
        <!-- Table Rows (Make Row Clickable) -->
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row 
          *matRowDef="let row; columns: displayedColumns" 
          (click)="onRowClick(row)" 
          [class.selected]="selectedRow === row">
        </mat-row>
  
        <!-- Footer Rows -->
        <mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide': menuData.length > 0}"></mat-footer-row>
      </mat-table>
  
      <mat-progress-bar *ngIf="isLoading" mode="indeterminate" color="primary"></mat-progress-bar>
  
      <!-- Pagination -->
      <mat-paginator class="mat-paginator-sticky" [pageSize]="10" [pageSizeOptions]="pageSizeOptions" showFirstLastButtons></mat-paginator>
    </div>
  </section>
  