
<div class="container">
    <div *ngFor="let data of roles;let i = index" [@slideLeftRightAnimation] >
        <h2 class="text-title">{{ data.blog_title }}</h2>
        <p class="text-description text-background fade-in">{{ data.description }}</p>
    </div>


    <div class="row text-description fade-in" *ngFor="let image of images; let i = index"  >
        <div class="col-md-6 image-container"  [@slideUp]>
            <img [src]="image.file_path" alt="Travel Image" (click)="onClick(image)"  >
        </div>
        <div class="col-md-6 text-description fade-in">
            <h2 class="text-title">{{ image.title }}</h2>
            <p class="text-description text-background">{{image.description }}</p>
    
            <div class="stats" *ngIf="image.stats?.length" >
                <div class="stat-item" *ngFor="let stat of image.stats">
                    <span> {{ stat.value }}</span>
                    <p >{{ stat.label }}</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Image Preview Modal -->
<div *ngIf="selectedImage" class="modal" (click)="closePreview()">
    <div class="modal-content" [@slideFade] (click)="$event.stopPropagation()">
        <span class="close" (click)="closePreview()">&times;</span>
        <img [src]="selectedImage.file_path" alt="Preview Image">
            <h2 class="text-title">{{ selectedImage.title }}</h2>
            <p class="text-description">{{ selectedImage.description }}</p>
    
            <div class="stats" *ngIf="selectedImage.stats?.length">
                <div class="stat-item" *ngFor="let stat of selectedImage.stats">
                    <h1 class="text-title">{{stat.value }}</h1>
                    <p class="text-description">{{ stat.label }}</p>
                </div>
            </div>

    </div>
</div>
