<mat-progress-bar *ngIf="isLoading" mode="indeterminate" color="primary"></mat-progress-bar>

<mat-toolbar class="w3-bar w3-white w3-card" id="myNavbar">
  <!-- <span class="toolbar-title">Pedsfolio</span> -->
  <div class="logo">
    <img src="assets/images/logo.png" alt="logo">
  </div>
  <!-- Spacer for Alignment -->
  <span class="example-spacer"></span>

  <!-- Desktop Navigation -->
  <div class="w3-right w3-hide-small">
    <a *ngFor="let item of nav_module"
       [routerLink]="item.routes"
       (click)="closeSidebar()"
       class="w3-bar-item w3-button"
       [class.login-item]="item.module === 'Login'">
      {{ item.module }}
    </a>
  </div>

  <!-- Mobile Menu Button -->
  <button mat-icon-button class="mobile-toolbar" aria-label="Toggle Menu" (click)="toggleSidebar()">
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>

<!-- Sidebar Overlay -->
<div class="sidebar-overlay" *ngIf="isSidebarOpen && isMobile" (click)="closeSidebar()"></div>

<!-- Sidebar -->
<div class="sidebar" *ngIf="isMobile" [ngClass]="{ 'active': isSidebarOpen }">
 
  <button mat-icon-button class="close-btn" (click)="closeSidebar()" aria-label="Close Menu">
    <mat-icon>close</mat-icon>
  </button>

  <div class="logo-header">
    <img src="assets/images/logo.png" alt="logo">
  </div>

  
  <ul class="nav-list">
    
    <li *ngFor="let link of nav_module">
      <a mat-button [routerLink]="link.routes" (click)="closeSidebar()">
        {{ link.module }}
      </a>
    </li>
  </ul>
</div>

<!-- Page Content -->
<router-outlet></router-outlet>
