<div class="image-gallery">
    <h2>Blog Images</h2>

    <div *ngIf="images.length > 0; else noImages">
        <div class="grid">
            <div *ngFor="let image of images" class="image-card">
                <img *ngIf="image.file_path" 
                     [src]="image.file_path" 
                     alt="Uploaded Image" 
                     class="thumbnail" 
                     (click)="openPreview(image.file_path)" 
                   
                     
                     />

                     <button mat-icon-button color="warn" class="delete-icon" (click)="delete(image.transCode)">
                        <mat-icon>delete</mat-icon>
                    </button>
            </div>
        </div>
    </div>

    <ng-template #noImages>
        <p>No images uploaded yet.</p>
    </ng-template>

    <div *ngIf="selectedImage" class="overlay" (click)="closePreview()">
        <div class="popup">
            <img [src]="selectedImage" class="full-image" (click)="$event.stopPropagation()" />
        </div>
    </div>
</div>
<!-- 
<div class="image-gallery">
    <h2>Blog Images</h2>


    <div *ngIf="loading" class="loading-container">
        <mat-spinner></mat-spinner>
        <p>Loading images...</p>
    </div>

    <div *ngIf="!loading && images.length > 0; else noImages">
        <div class="grid">
            <div *ngFor="let image of images" class="image-card">
                <div class="image-container">
                    <img *ngIf="image.file_path"
                         [src]="image.file_path" 
                         alt="Uploaded Image" 
                         class="thumbnail" 
                         (load)="imageLoaded[image.id] = true" 
                         (click)="openPreview(image.file_path)"
                          />

       
                </div>

                <button mat-icon-button color="warn" class="delete-icon" (click)="delete(image.id)" [disabled]="deleteLoading[image.id]">
                    <mat-icon *ngIf="!deleteLoading[image.id]">delete</mat-icon>
                    <mat-spinner *ngIf="deleteLoading[image.id]" diameter="24"></mat-spinner>
                </button>
                
            </div>
        </div>
    </div>

    <ng-template #noImages>
        <p>No images uploaded yet.</p>
    </ng-template>

    <div *ngIf="selectedImage" class="overlay" (click)="closePreview()">
        <div class="popup">
            <img [src]="selectedImage" class="full-image" (click)="$event.stopPropagation()" />
        </div>
    </div>
</div> -->
