<div class="container">
    <h1 class="text-title" [@slideLeftRightAnimation]>Pedro Yorpo</h1>
    <span class="text-info" [@slideUp]> WEB DEVELOPERS </span>
    <p class="text-description"  [@slideFade]>
            My skilled detail-oriented Web Developer with over 2
            years of experience in designing, developing, and
            maintaining responsive websites and web
            applications. Proficient in front-end like HTML, CSS,
            JavaScript, Angular, and back-end technologies
            Laravel, PHP and databases like MySQL and SQL
            Server.  Implementing cross-browser compatible,
            user-friendly, and mobile-first designs to enhance
            user engagement and experience.
    </p>


</div>
