    <mat-card-header>
      <h2 mat-dialog-title>{{ btnSave }} Menu and Submenu</h2>
    </mat-card-header>
    <mat-divider></mat-divider>

    <form [formGroup]="menuForm" (ngSubmit)="onSubmit()" class="form-container">
      <mat-card-content>
        <!-- Menu Fields -->
        <mat-form-field appearance="standard" class="full-width">
          <mat-label>Desc Code</mat-label>
          <input matInput placeholder="Enter desc_code" autocomplete="off" required formControlName="desc_code">
        </mat-form-field>
  
        <mat-form-field appearance="standard" class="full-width">
          <mat-label>Description</mat-label>
          <input matInput placeholder="Enter Menu" autocomplete="off" required formControlName="description">
        </mat-form-field>
  
        <mat-form-field appearance="standard" class="full-width">
          <mat-label>Icon</mat-label>
          <input matInput placeholder="Enter Icon" autocomplete="off" required formControlName="icon">
        </mat-form-field>
  
        <mat-form-field appearance="standard" class="full-width">
          <mat-label>Class</mat-label>
          <input matInput placeholder="Enter Class" autocomplete="off" required formControlName="class">
        </mat-form-field>
  
        <mat-form-field appearance="standard" class="full-width">
          <mat-label>Routes</mat-label>
          <input matInput placeholder="Enter Routes" autocomplete="off" required formControlName="routes">
        </mat-form-field>
  
        <mat-form-field appearance="standard" class="full-width">
          <mat-label>Sort Order</mat-label>
          <input matInput type="number" placeholder="Enter Sort Order" required formControlName="sort">
        </mat-form-field>
  
        <mat-form-field appearance="standard" class="full-width">
          <mat-label>Status</mat-label>
          <mat-select formControlName="status" required>
            <mat-option value="A">Active</mat-option>
            <mat-option value="I">Inactive</mat-option>
          </mat-select>
        </mat-form-field>
  
        <!-- Submenu Fields -->
        <div formArrayName="lines">
          <div *ngFor="let line of lines.controls; let i = index" [formGroupName]="i">
            <mat-form-field appearance="standard" class="full-width">
              <mat-label>Submenu Description</mat-label>
              <input matInput placeholder="Enter Submenu Description"  formControlName="description">
            </mat-form-field>
  
            <mat-form-field appearance="standard" class="full-width">
              <mat-label>Submenu Icon</mat-label>
              <input matInput placeholder="Enter Submenu Icon"  formControlName="icon">
            </mat-form-field>
  
            <mat-form-field appearance="standard" class="full-width">
              <mat-label>Submenu Class</mat-label>
              <input matInput placeholder="Enter Submenu Class"  formControlName="class">
            </mat-form-field>
  
            <mat-form-field appearance="standard" class="full-width">
              <mat-label>Submenu Routes</mat-label>
              <input matInput placeholder="Enter Submenu Routes"  formControlName="routes">
            </mat-form-field>
  
            <mat-form-field appearance="standard" class="full-width">
              <mat-label>Submenu Sort Order</mat-label>
              <input matInput type="number" placeholder="Enter Sort Order"  formControlName="sort">
            </mat-form-field>
  
            <mat-form-field appearance="standard" class="full-width">
              <mat-label>Submenu Status</mat-label>
              <mat-select formControlName="status" >
                <mat-option value="A">Active</mat-option>
                <mat-option value="I">Inactive</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>


      </mat-card-content>
     
      <mat-card-footer class="button-end">
        <button mat-raised-button color="warn" [mat-dialog-close]="true">Cancel</button>
        <button type="submit" mat-raised-button color="primary" >{{ btnSave }}</button>
      </mat-card-footer>
     
    </form>
     

   